.table{
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.th, .td {
    font-size: 12px;
    text-align: left;
    padding: 4px;
    text-align: center;
}

.th{
    border: none;
    border-bottom: 2px solid #33333D;
    border-top: 2px solid #33333D;
    background-color: #18181F;
}

.action{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 12px;
    width: auto;
}

.actionHeader{
    width: auto;
}

@media screen and (max-width:768px){
    .action, .actionsHeader{
        display: none;
    }

    .th, .td {
        font-size: 1rem;
        text-align: center;
        padding: 8px 0px;
    }

    .nameHeader, .name{
        display: none;
    }
}
