.pageContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 24px;
}

.header{
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    align-items: center;
    justify-content: left;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Poppins' ,sans-serif;
}

.mainContent{
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    overflow-y: scroll;
    height: 100%;
}

.mainContent::-webkit-scrollbar {
    display: none;
}

@media (max-width: 640px){
    .header{
        justify-content: center;
    }

    .pageContainer{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 8px;
    }
}