.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    gap:16px;
    padding: 0;
    width: 100%;
}

.graphContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
    flex-wrap: wrap;
    height: auto;
    gap:16px;
}
.graphContainer > *{
    flex: 1;
    aspect-ratio: 1/ 0.75;
    padding: 24px;
}

.transactionHistory{
    display: block;
}

@media (max-width:640px){
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:0;
        height: auto;
    }

    .balance{
        grid-column: 1 / -1;
        margin-bottom: 16px;
    }
    .expense{
        grid-column: 1 / 2;
        margin-right: 8px;
    }
    .income{
        grid-column: 2 / 3;
        margin-left: 8px;
    }

    .graphContainer{
        flex-direction: column;
    }
    .graphContainer > *{
        aspect-ratio: 1 / 1;
    }
    .monthlyGraph{
        width: 100%;
    }
    .expensesCategory{
        width: 100%;
    }
}