# OS
.DS_Store
Thumbs.db

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Environment variables
.env
.env.local

# Dependencies
node_modules/
vendor/

# Build artifacts
dist/
build/
out/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Misc
*.tmp
*.bak
