*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* UTILITY CLASSES */
.form{
    display: flex;
    flex-direction: column;
}

.form-row{
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    width: 100%;
}

.form-label{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 4px;
}

input,
textarea,
select {
    margin-right: 16px;
    border: 2px solid #33333D;
    color: #fff;
    background-color: #18181F;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #3391FF;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

input[type="date"] {
    color-scheme: dark;
}