.button{
    padding: 4px 8px;
    border-radius: 8px;
    color: white;
    cursor:pointer;
    
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button i{
    margin-right: 8px;
}

.primary{
    background-color: #0078FF;
}

.primary:hover {
    background-color: #006ae6;
}

.danger{
    background-color: #FF5252;
}

.danger:hover {
    background-color: #ff3d3d;
}

.secondary {
    background-color: #33333D;
}

.secondary:hover {
    background-color: #4b4b56;
}
