.navbar{
    width: 280px;
    height: 100%;
    background-color: #1E1E26;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 99;
}

.logoRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navToggle {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: transparent;
    border: none;
    cursor: pointer;

    position: relative;
    left: 62px;

    background-color: #1E1E26;
    
}

.navToggle i {
    font-size: 1.2rem;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    user-select: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.logo:hover{
    letter-spacing: 4px;
}

.logo i{
    font-size: 24px;
    margin-right: 8px;
    transform: rotate(30deg);
}

.navList{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navItem{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    transform-origin: left;
    cursor: none;
}

.item{
    transition: transform 0.2s ease;
    display:block;
    color: #fff;
    text-decoration: none;
    padding: 24px;
    width: 100%;
    transition: opacity 0.2s ease;
    cursor: pointer;
}
.item:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.03);
}

.navItem i{
    margin-right: 8px;
}

.logout{
    background-color: rgba(0, 0, 0, 0);
    color:white;
    display:block;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    border-radius: 28px;
    width: 80%;
    font-weight: 600;
    border: 2px solid #FFAB00;
    transition: all 0.1s ease;
    margin-top: 24px;
}

.logout:hover{
    background-color: #FFAB00;
    transform: scale(1.05);
}

.navFooter{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.open{
    transform: translateX(0px);
}

.darkOverlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.75);
    opacity: 0;
    transition: opacity 0.4s ease;

    pointer-events: none;
}
.toggleOverlay{
    opacity: 1;
}

.subNavList{
    margin-left: 28px;
    border-left: 2px solid #fff;
    display: none;
}
.subNavList.active{
    display: block;
}

.subNavItem{
    width: 100%;
    cursor: none;
    list-style: none;
}
.subItem{
    transition: transform 0.2s ease;
    display:block;
    color: #fff;
    text-decoration: none;
    padding: 12px;
    width: 100%;
    transition: opacity 0.2s ease;
    cursor: pointer;
    padding-left: 20px;
}
.subItem:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.03);
}

.subNavList.active{
    display: block;
}

.item.active, .subItem.active{
    /* USED FOR ITEM AND SUBITEM */
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.03);
}

@media screen and (max-width: 768px){
    .darkOverlay{
        display: block;
    }


    .navbar{
        position: fixed;
        width: 280px;
        height: 100%;
        background-color: #1E1E26;
        transform: translateX(-280px);
        transition: transform 0.4s ease-in-out;
    }

    .open{
        transform: translateX(0px);
    }

    .navToggle{
        display: flex;
    }
}